<div class="container mt-4">
  <app-titulo title="Eventos"></app-titulo>
  <div>
    <div class="form-inline my-3">
      <label for="filtro">Filtro:</label>
      <input class="form-control mx-sm-2" id="filtro" type="search" placeholder="Buscar por tema ou local" aria-label="Search" [(ngModel)]="filtro">
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>
              <button class="btn btn-dark" type="button" (click)="collapseImage()" [style.padding.px] = "imgBtnPadding" [style.font-size.px] = "imgBtnFontSize" [style.font-weight] = "imgBtnFontWeight">
                <i class="{{showImage ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
                {{showImage ? 'Ocultar Imagem' : 'Exibir Imagem'}}
              </button>
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
          </tr>
        </thead>

        <tbody *ngIf="eventos.length">
          <tr *ngFor="let evento of eventosFiltrados">
            <td>
              <img [collapse]="!showImage" [isAnimated]="true" src="assets/img/{{evento.imagemUrl}}" alt=""
              [style.width.px] = "imgWidth"
              [style.max-height.px] = "imgMaxHeight">
            </td>
            <td>{{evento.id}}</td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.data | DataFormat}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lotes[0].nome}}</td>
            <td>
              <button class="btn btn-primary mr-1" tooltip="Editar">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger ml-1" tooltip="Excluir" (click)="openModal(template)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!eventos.length">
          <td colspan="8" class="text-center">
            <h4>Não existem eventos cadastrados!</h4>
          </td>
        </tfoot>
    </table>
  </div>
</div>

<!-- Modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir este Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>

<!-- Spinner -->
<ngx-spinner type="square-jelly-box">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>
